<div class="pool-entries">
  <%= @pool.entry_button %>
  <% if @entries.any? %>
    <h3 class="text-lg font-bold mb-2 mt-4">Your Entries</h3>
    <ul class="w-64 md:w-auto text-sm font-medium text-gray-900 bg-white border border-gray-200">
      <% @entries.each_with_index do |entry, index| %>
        <li class="w-full px-4 py-2 border-b border-gray-200 inline-flex gap-4 items-center justify-between">
          <%= entry.pool_show_link(index) %>
          <% if policy(entry).destroy? %>
            <%= render partial: "delete_entry_button", locals: { entry: }%>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>