<%= render partial: "shared/breadcrumbs" %>
<div class="grid grid-cols-1 content-around">
  <table class="w-100 table-auto border-separate border-spacing-1 border border-slate-400">
    <thead>
      <tr>
        <th class="border border-slate-300 px-4 py-1">Prop</th>
        <th class="border border-slate-300 px-4 py-1">Option A</th>
        <th class="border border-slate-300 px-4 py-1">Option B</th>
      </tr>
    </thead>
    <tbody>
      <% @pool.questions.decorate.each do |question| %>
      <tr>
        <td class="border border-slate-300 px-4 py-1"><%= question.body %></td>
        <td class="border border-slate-300 px-4 py-1 pt-2">
          <%= button_to question.first_option_body, option_pool_correct_path(@pool, question.first_option), method: :put, class: question.first_option_css %>
        </td>
        <td class="border border-slate-300 px-4 py-1 pt-2">
          <%= button_to question.last_option_body, option_pool_correct_path(@pool, question.last_option), method: :put, class: question.last_option_css %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>