<%= link_to "Create New Pool", new_pool_path, class: "text-blue-500 font-bold hover:text-blue-700" %>

<h2 class="text-4xl font-extrabold dark:text-white mb-4">Dashboard</h2>
<h1>Welcome <%= current_user.email %></h1>
