<!-- FILEPATH: /Users/weatherby/Development/steadfast-indecency/app/views/home/index.html.erb -->

<h1>Welcome to our website!</h1>
<p>Thank you for visiting. We hope you have a great experience.</p>
